<div class="posts list-group">
    {{#each posts}}
        <a class="list-item flex-row justify-space-between">
                <span>{{title}}</span>
            <span>{{format_date date_created}}</span>
        </div>
        </a>
    </article>
    {{/each}}
</div>