<form id="newPostForm" class="card-body">
        <label class="formlabel" for="post-title">Title</label>
        <input value='{{title}}'type="text" name="title" class="form-input">

        <label class="form-label" for="post-body">Content</label>
        <textarea name="description" class="form-input">{{description}}</textarea>
        <button type="submit" class="btn">Create New Post</button>
    </form>
{{!-- </div> --}}

<script src="/scripts/edit.js"></script>