{{!-- <div class="post card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div> --}}
    
    <form id="newPostForm" class="card-body">
        <label class="formlabel" for="post-title">Title</label>
        <input type="text" name="title" class="form-input">

        <label class="form-label" for="post-body">Content</label>
        <textarea name="description" class="form-input"></textarea>
        <button type="submit" class="btn">Create New Post</button>
    </form>
{{!-- </div> --}}

<script src="/scripts/new.js"></script>